*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: url("../images/bg_image2.jpg") center / cover no-repeat;
}

.weather {
  position: relative;
  margin: 100px auto;
  width: 500px;
  height: 400px;
  z-index: 5;
}

.input__wrapper {
  border-radius: 30px;
  position: relative;
  padding: 3px;
  height: 60px;
  align-items: center;
  overflow: hidden;
}

.input__wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  backdrop-filter: blur(10px);
  z-index: -1;
}

input {
  position: relative;
  padding: 0 60px 0 20px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
  background: transparent;
  font-size: 20px;
  color: #fff;
}

button {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 3px;
  right: 3px;
  font-size: 25px;
  cursor: pointer;
  background: #000;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather__body {
  position: relative;
  margin-top: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 35px;
  color: #fff;
  text-align: center;
}

.weather__body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.temp {
  font-size: 60px;
}

.temp__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
